<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md">
                <h3>Opciones</h3>
                <hr class="bg-secondary">
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">sub opcion 1</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 2</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 3</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h3>Opciones</h3>
                <hr class="bg-secondary">
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">sub opcion 1</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 2</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 3</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h3>Opciones</h3>
                <hr class="bg-secondary">
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">sub opcion 1</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 2</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 3</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h3>Opciones</h3>
                <hr class="bg-secondary">
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">sub opcion 1</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 2</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 3</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 4</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h3>Opciones</h3>
                <hr class="bg-secondary">
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="#">sub opcion 1</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 2</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 3</a></li>
                    <li><a class="link-secondary" href="#">sub opcion 4</a></li>
                </ul>
            </div>
            <div class="col-12">
                <h3 class="d-block text-muted mx-3 text-center">&copy; 2017–2021 | Desarrollado por el tema jurídico de abogados.</h3>
            </div>
        </div>
    </div>
</footer>