<header class="px-3 bg-dark text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mx-5 my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <img src="https://www.comunidad.madrid/sites/default/files/styles/imagen_enlace_opcional/public/scales-of-justice-_2_0.png?itok=IBk2dcKh" class="bi me-2" width="40" height="40">
        </a>
        <ul class="nav justify-content-center text-small">
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">home</mat-icon>
                INICIO
            </a>
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">offline_pin</mat-icon>
                MISIÓN Y VISIÓN
            </a>
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">list_alt</mat-icon>
                VALORES
            </a>
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">group_work</mat-icon>
                SERVICIOS
            </a>
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">info</mat-icon>
                ACERCA DE
            </a>
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">contact_mail</mat-icon>
                CONTACTO
            </a>
            <a href="#" class="nav-link text-white">
                <mat-icon aria-hidden="false" class="bi d-block mx-auto mb-1" aria-label="Example home icon">folder_shared</mat-icon>
                TRAMITES
            </a>
        </ul>
    </div>
</header>