.bg-home {
    background-image: url('https://fondosmil.com/fondo/72698.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.fondo-opaco {
    background-color: rgba(212, 212, 212, 0.849);
}