<div class="bg-home">
    <div class="fondo-opaco">
        <section id="carousel" class="shadow-lg mb-5">
            <app-carousel-imgs [CarouselImages]="carouselImages"></app-carousel-imgs>
        </section>
        <section id="quienes-somos">
            <app-quienes-somos></app-quienes-somos>
        </section>
        <div class="container my-5">
            <hr>
        </div>
        <section id="mision-vision">
            <div class="container px-0">
                <h1 class="bg-white border rounded p-3 text-center"><strong> MISIÓN Y VISIÓN</strong></h1>
            </div>
            <app-mision-vision></app-mision-vision>
        </section>
        <div class="container my-5">
            <hr>
        </div>
        <section id="servicios">
            <div class="container px-0">
                <h1 class="bg-white border rounded p-3 text-center"><strong>SERVICIOS</strong></h1>
            </div>
            <app-servicios></app-servicios>
        </section>
        <div class="container my-5">
            <hr>
        </div>

        <section id="valores">
            <div class="container px-0">
                <h1 class="bg-white border rounded p-3 text-center"><strong>VALORES</strong></h1>
            </div>
            <!-- falta -->
        </section>
        <div class="container my-5">
            <hr>
        </div>

        <section id="contacto">
            <app-contacto></app-contacto>
        </section>
        <div class="container my-5">
            <hr>
        </div>
        <section id="tramites">
            <div class="container px-0">
                <h1 class="bg-white border rounded p-3 text-center"><strong>TRAMITES</strong></h1>
            </div>
        </section>

    </div>
</div>