<div class="bg-home">
    <div class="fondo-opaco">
        <section id="carousel" class="shadow-lg mb-5">
            <app-carousel-imgs [CarouselImages]="carouselImages"></app-carousel-imgs>
        </section>
        <section id="mision-vision">
            <app-mision-vision></app-mision-vision>
        </section>
        <div class="container my-5">
            <hr>
        </div>
        <section id="quienes-somos">
            <app-quienes-somos></app-quienes-somos>
        </section>
        <section id="contacto">

        </section>
    </div>
</div>