<div id="container404" class="alert alert-warning d-flex justify-content-center align-items-center card card-block rounded-0 mb-0 ">
    <div class="d-flex align-self-center align-items-center p-5">
        <div class="icon d-flex justify-content-center align-items-center text-center">
            <h1 class="font-CircularStd-Bold text-center">
                Error 404
            </h1>
        </div>
        <div class="ml-5 text-center">
            <h2 class="error-number fw-100 font-CircularStd-Bold">Pagina no encontrada :(</h2>
            <h5 class="fw-300 d-block mb-1">Lo sentimos, pero la página que intenta ver no existe.</h5>
            <br>
            <button mat-button [routerLink]="['/home']" class="btn btn-primary rounded-pill"><mat-icon>arrow_back_ios</mat-icon> Regresar</button>
        </div>
    </div>
</div>